<!-- Modal -->

<div id="modalCliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{this.clienteService.selectedCliente.idCliente==0? 'Nuevo Cliente': 'Actualizar Cliente'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-cliente" #formCliente="ngForm" (ngSubmit)="onSaveCliente(formCliente)">
            <input type="hidden" id="idCliente" name="idCliente" class="form-control" [(ngModel)]="this.clienteService.selectedCliente.idCliente" >
            <div class="form-group">
              <label for="">Nombre</label>
              <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="this.clienteService.selectedCliente.nombre" >
            </div>
            <div class="form-group">
                <label for="">Dirección</label>
                <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección"  [(ngModel)]="this.clienteService.selectedCliente.direccion">
            </div>
            <div class="form-group">
                <label for="">Ciudad</label>
                <input type="text" id="ciudad" name="ciudad" class="form-control" placeholder="Ciudad"  [(ngModel)]="this.clienteService.selectedCliente.ciudad">
            </div>
            <div class="form-group">
                <label for="">Teléfono</label>
                <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Ciudad"  [(ngModel)]="this.clienteService.selectedCliente.telefono">
            </div>
          
            <button type="submit" class="btn btn-primary float-right">Guardar Cliente</button>
          </form>
        </div>
      </div>
    </div>
  </div>