<h2>Detalle Consumo - {{tarjetaSelected.numtarjeta}}</h2>
 <app-modal-detalle-consumo></app-modal-detalle-consumo>
 <div class="row">
   <div class="col">
     <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalDetalle" (click)="resetForm()">Nuevo Detalle</button>
     <table class="table table-hover">
         <thead>
             <tr>
                 <th>ID</th>
                 <th>FECHA</th>
                 <th>DESCRIPCION</th>
                 <th>MONTO</th>
                 <th scope="col">&nbsp;</th>
                 <th scope="col">&nbsp;</th>
             </tr>
         </thead>
         <tbody>
           <tr *ngFor="let detalle of detalles">
             <td>{{detalle.idDetalleConsumo}}</td>
             <td>{{detalle.fecha}}</td>
             <td>{{detalle.descripcion}}</td>
             <td>{{detalle.monto}}</td>
             <td>
                 <button class="btn btn-primary" (click)="onPreUpdateDetalle(detalle)" data-toggle="modal" data-target="#modalDetalle">Actualizar</button>
             </td>
             <td>
                <a href="#"  class="btn btn-danger" (click)="onDeleteDetalle(detalle.idDetalleConsumo)">Eliminar</a>
             </td>
           </tr>   
         </tbody>
     </table>
   </div>
 </div>